<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Вынесение решения по {{ string }}</h4>
        <p>
            <button id="change_status" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Закрыть</button>
        </p>
        <div id="result">
        </div>
    </div>

    <div class="modal-body">

        {% load bootstrap3 %}
        <form id="change_status_form" method="post" action="{% url 'claim_change_status' claim_id=claim.id %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input name="old_status" id="id_old_status" value="{{ form.old_status.id }}" type="hidden">
        </form>
    </div>
    <div class="modal-header">
        <h4 class="modal-title">История изменения статусов</h4>
    </div>
    <div class="modal-body">

        <table class="table table-bordered table-history">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Новый статус</th>
                <th>Предыдущий статус</th>
                <th>Определение</th>
            </tr>
            </thead>
            <tbody>
            {% for item in history %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.new_status }}</td>
                    <td>
                        {% if item.old_status == None %}
                        Не определено
                    {% else %}
                        {{ item.old_status }}
                    {% endif %}
                    </td>
                    <td>
                        {{ item.reason }}
                    </td>

                </tr>
            {% empty %}
                Статус не менялся
            {% endfor %}


            </tbody>
        </table>


    </div>
</div>
<script type="text/javascript">
    $("#change_status").click(function () {
        var form = $("#change_status_form");
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                result_div = $('#result');
                if (response.status == 'success') {
                    location.href = '{% url 'judge_claims' %}';
                } else {
                    result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")

                }

            }
        });
    });
</script>