{% extends "base.html" %}
{% block title %}Заявления{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="statement-judge" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content-btn">
                        <a href="{{ request.url }}" class="btn btn-update">
                            Обновить
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table>
                    <tr class="border_bottom">
                        <td>
                            Название
                        </td>

                        <td class="class cell">
                            Класс
                        </td>
                        <td class="date cell">
                            Дата
                        </td>
                        <td class="status cell">
                            Статус
                        </td>


                    </tr>
                    {% for claim in claims %}
                        <tr class="border_bottom">
                            <td>
                                {% if claim.claim_file.name %}
                                    <a href="{% url 'claim_page' claim.id %}">
                                        Заявление {{ claim.id }}
                                    </a>
                                {% else %}
                                    Заявление {{ claim.id }}
                                {% endif %}
                            </td>

                            <td class="class cell">
                                {% if claim.classification == None %}
                                    Не определено
                                {% else %}
                                    {{ claim.classification }}
                                {% endif %}
                            </td>
                            <td class="date cell">
                                {{ claim.date }}
                            </td>
                            <td class="status cell">
                                {{ claim.status }}
                            </td>
                            {% if claim.status.id != 6  and claim.status.id != 7  and claim.status.id != 5 %}
                                <td class="cross-arrows">
                                    <a data-toggle="modal"
                                       href="{% url 'claim_change_status' claim.id %}?request_type=1"
                                       data-target="#myModal"><img src="{% static 'icon/crossed arrows.svg' %}"></a>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
    <div class="modal fade" id="view-modal" role="dialog">
        <div class="modal-dialog modal_claim">


        </div>
    </div>
{% endblock %}

{% block js %}

    <script type="text/javascript">

        function showModal(e, attribute, modal_id) {
            e.preventDefault();
            var url = attribute.attr('href');
            $.get(url, function (data) {
                $('.modal-dialog').html(data);
                $('#' + modal_id).modal('show');
            });
        }

        $(document).ready(function () {

            $('[data-toggle="modal"]').click(function (e) {
                showModal(e, $(this), 'myModal')
            });

            $('[data-toggle="modal-view"]').click(function (e) {
                showModal(e, $(this), 'view-modal')
            });
        });


    </script>
{% endblock %}

