{% extends "base.html" %}
{% block title %}Заявление{% endblock %}
{% block content %}
    {% load bootstrap3 %}
    {% load staticfiles %}
    {% if  not is_mark %}
        <div id="casetext" xmlns:border="http://www.w3.org/1999/xhtml">
            {{ content }}
        </div>
    {% else %}
        <iframe src="{{ content }}" width="100%" frameBorder="0" height="1170px" align="left">
        </iframe>
    {% endif %}


    <section class="decision-description">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-md-offset-10 text-right" style="padding: 20px">
                    {% if user.employee.role.sys_name == 'ROLE_JUDGE' %}
                    <a data-toggle="modal" href="{% url 'claim_change_status' claim.id%}?request_type=2"
                       data-target="#myModal" class="btn btn-appoint"
                       style="height: 45px;line-height: 15px;margin-bottom: 50px;">Вынести<br>вердикт
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>

    {% block js %}

        <script type="text/javascript">

            function showModal(e, attribute, modal_id) {
                e.preventDefault();
                var url = attribute.attr('href');
                $.get(url, function (data) {
                    $('.modal-dialog').html(data);
                    $('#' + modal_id).modal('show');
                });
            }

            $(document).ready(function () {

                $('[data-toggle="modal"]').click(function (e) {
                    showModal(e, $(this), 'myModal')
                });

            });


        </script>
    {% endblock %}
    <script type="text/javascript">
        $(document).on('click', '.rail_btn', function (e) {
            $(document).find('.rail_btn').removeClass('rail_btn_active');
            $(this).addClass('rail_btn_active');
            $('input[name="new_status"]').val($(this).attr('data-id'));
        });
        $("#change_status").click(function () {
            var form = $("#change_status_form");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    result_div = $('#result');
                    if (response.status == 'success') {
                        location.href.replace({% url 'judge_claims' %});
                    } else {
                        result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")

                    }

                }
            });
        });
    </script>
{% endblock %}