<div class="modal-content">
    <div class="modal-header">
        <p>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                <h4 class="modal-title">Ошибка</h4>
        </p>
    </div>
    <div class="modal-body">
        <h5>Сервер извлечения фактов не доступен</h5>
    </div>
</div>