<div class="modal-content">
    <div class="modal-header">
        <p>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        <h4 class="modal-title">Просмотр заявления</h4>

        </p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <p id="casetext">{{ text }}
                </p>
            </div>
            <div class="col-md-5">
                <div class="facts">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Тип</th>
                            <th>Текст</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fact in facts %}
                            <tr>
                                <td>{{ fact.type }}</td>
                                <td>{{ fact.text }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


