{% extends "base.html" %}
{% block title %}Классы заявлений{% endblock %}
{% block content %}
    <button data-toggle="modal"
            data-target="#myModal" class="btn btn-success"
            style="margin: 10px">Добавить
    </button>
    <button data-toggle="modal"
            data-target="#deleteModal" class="btn btn-danger"
            style="margin: 10px">Удалить
    </button>
    {% include 'show_classifications.html' %}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление класса заявления</h4>
                    <button id="save" href="{% url 'classification_list' %}" class="btn btn-success">Сохранить
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Закрыть
                    </button>
                    <div id="result">
                    </div>
                </div>
                <div class="modal-body">
                    {% load bootstrap3 %}
                    <form id="add_classification" method="post" action="{% url 'classification_list' %}">
                        {% bootstrap_form form %}
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Удаления класса</h4>
                    <button id="delete" href="{% url 'classification_delete' %}" class="btn btn-success">Удалить
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Закрыть
                    </button>
                    <div id="result_delete">
                    </div>
                </div>
                <div class="modal-body">
                    {% if remove_classifications %}
                        <select id="delete_classes" multiple="multiple" name="delete_classification_ids" size="8"
                                style="margin-left:5%;width: 90% ">
                            {% for classification in remove_classifications %}
                                <option value="{{ classification.id }}">
                                    {{ classification.name }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        Классов для удаления нет
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("#delete_classes").treeMultiselect({hideSidePanel: true});

        $("#save").click(function () {
            var form = $("#add_classification");
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    result_div = $('#result');
                    if (response.status == 'success') {
                        window.location.reload();
                    } else {
                        result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")

                    }

                }
            });
        });
        $("#delete").click(function () {
            $.ajax({
                type: "POST",
                url: $('#delete').attr('href'),
                data: $('#delete_classes').serialize(),
                success: function (response) {
                    result_div = $('#result_delete');
                    if (response.status == 'success') {
                        window.location.reload();
                    } else {
                        result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")

                    }

                }
            });
        });



    </script>
{% endblock %}