{{ employee_form.media }}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Создать характеристику</h4>
        <p>
            <button id="employee_char_create_submit" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        </p>
        <div id="result">
        </div>
    </div>

    <div class="modal-body">

        {% load bootstrap3 %}
        <form id="employee_char_create_form" method="post" action="{% url 'employee_characteristics_create' %}">
            {% csrf_token %}
            {{ employee_form.errors }}
            {% bootstrap_form employee_form %}
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#employee_char_create_submit").click(function () {
        var form = $("#employee_char_create_form");
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                result_div = $('#result');
                if (response.status == 'success') {
                    window.location.reload();
                } else {
                    result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")
                }

            }
        });
    });
</script>
