{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div class="modal fade" id="confirm-delete">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Потверждение удаления</h4>
                </div>

                <div class="modal-body">
                    <p>Вы действительно хотите удалить сотрудника?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-danger btn-ok" id="delete_link">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="tab-content-btn">
            <a href="{{ request.url }}" class="btn btn-update">
                Обновить
            </a>
        </div>
    </div>
    <div id="user" class="tab-pane fade in active">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr class="border_bottom">
                        <td class="edit cell">
                        </td>
                        <td class="id cell">
                            Пользователь
                        </td>
                        <td class="name cell">
                            ФИО
                        </td>
                        <td class="role cell">
                            Роль
                        </td>
                    </tr>
                    {% for empl in employees %}
                        <tr class="border_bottom">
                            <td class="edit cell">
                                <a href="{% url 'employee_update' empl.id %}" class="icon-button" data-toggle="update_modal"
                                   data-target="#class-statement"><img src="{% static 'icon/edit.svg' %}"></a>
                            </td>
                            <td class="id cell">
                                {{ empl.user.username }}
                            </td>
                            <td class="name cell">
                                {{ empl.fio }}
                            </td>
                            <td class="role cell">
                                {{ empl.role.name }}
                            </td>
                            <td class="remove cell">
                                <a href="{% url 'employee_delete' empl.id %}"
                                   data-toggle="delete_modal" data-target="#confirm-delete"
                                   class="icon-button"><img src="{% static 'icon/delete.svg' %}"></a><br>
                            </td>
                        </tr>
                    {% empty %}
                        Сотрудников нет
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
{% endblock %}
{% block js %}

    <script type="text/javascript">

        $(document).ready(function () {
            $('[data-toggle="delete_modal"]').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $("#delete_link").attr("href", url);
                $('#confirm-delete').modal('show');
            });

            $('[data-toggle="update_modal"]').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.modal-dialog').html(data);
                    $('#myModal').modal('show');
                });
            });
        });
    </script>
{% endblock %}