{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="characteristics" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content-btn">
                        {% if user.employee.role.sys_name == 'ROLE_ADMIN' %}
                            <a data-toggle="modal" href="{% url 'employee_characteristics_create' %}"
                               data-target="#myModal" class="btn btn-update">Создать</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12">
                    <table>
                        <tr class="border_bottom">
                            <td class="edit">

                            </td>
                            <td class="name cell">
                                ФИО
                            </td>
                            <td class="holiday-start cell">
                                Дата начала отпуска
                            </td>
                            <td class="holiday-stop cell">
                                Дата конца отпуска
                            </td>
                            <td class="qualification cell">
                                Квалификация
                            </td>
                        </tr>
                        {% for empl in employees %}
                            <tr class="border_bottom">
                                <td class="edit">
{#                                    <a href="" class="icon-button" data-toggle="modal"#}
{#                                       data-target="#change-judge"><img src="{% static 'icon/edit.svg'%}"></a>#}
                                </td>
                                <td class="name cell">
                                    {{ empl.item.employee.fio }}
                                </td>
                                <td class="holiday-start cell">
                                    {{ empl.item.date_start }}
                                </td>
                                <td class="holiday-stop cell">
                                    {{ empl.item.date_finish }}
                                </td>
                                <td class="qualification cell">
                                    {{ empl.item.qualification }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
{% endblock %}
{% block js %}

    <script type="text/javascript">

        $(document).ready(function () {

            $('[data-toggle="modal"]').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.modal-dialog').html(data);
                    $('#myModal').modal('show');
                });
            });

        });

    </script>
{% endblock %}