<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Обновить информацию сотрудника</h4>
        <p>
            <button id="employee_update_submit" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Закрыть</button>
        </p>
        <div id="result">
        </div>
    </div>

    <div class="modal-body">

        {% load bootstrap3 %}
        <form id="employee_update_form" method="post" action="{% url 'employee_update' employee_id %}">
            {% csrf_token %}
            {{ form_employee.errors }}
            {{ form_user_employee.errors }}
            {% bootstrap_field form_employee.fio %}
            {% bootstrap_field form_user_employee.username %}
            {% bootstrap_field form_user_employee.password %}
            {% bootstrap_field form_employee.phone %}
            {% bootstrap_field form_user_employee.email %}
            {% bootstrap_field form_employee.role %}
            {% bootstrap_field form_employee.classification %}
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var gr = $('.form-group');
        if ($('#id_role').children('option:selected').html() == "Судья"){
            $('.form-group').children('#id_classification').parent().show()
        }
        else {
            $('.form-group').children('#id_classification').parent().hide()
        }
    });

    $(document).on('change', '#id_role', function () {
        console.log("Hell")
        var gr = $('.form-group');
        if ($('#id_role').children('option:selected').html() == "Судья"){
            $('.form-group').children('#id_classification').parent().show()
        }
        else{
            $('.form-group').children('#id_classification').parent().hide()
        }

    });

    $("#employee_update_submit").click(function () {
        var form = $("#employee_update_form");
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                result_div = $('#result');
                if (response.status == 'success') {
                    window.location.reload();
                } else {
                    if (response.message_employee !== ""){
                        result_div.html("<div class='alert alert-danger'>" + response.message_employee + "</div>")
                    }else{
                        if (response.message_user_employee !== ""){
                            result_div.html("<div class='alert alert-danger'>" + response.message_user_employee + "</div>")
                        }
                    }

                }

            }
        });
    });
</script>