{% extends "base.html" %}
{% block title %}Настройки{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Распределение дел
        </div>
        <div class="panel-body">
            <div id="result"></div>
            <form action="{% url 'settings_update' setting_enable_id %}" method="post" id="settings_update">
                {% csrf_token %}
                {% if enable_auto %}
                    <p><input name="value" type="radio" value="0">Включить ручную настройку</p>
                    <p><input name="value" type="radio" value="1" checked>Включить автоматическую настройку</p>
                {% else %}
                    <p><input name="value" type="radio" value="0" checked>Включить ручную настройку</p>
                    <p><input name="value" type="radio" value="1">Включить автоматическую настройку</p>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Нагрузка часов на судью за день
        </div>
        <div class="panel-body">
            <div id="daily_result"></div>
            <form action="{% url 'settings_update' daily_count_id %}" method="post" id="daily_settings">
                {% csrf_token %}
                <p><input name="value" type="number" value="{{ daily_count }}" min="1" max="9"></p>
            </form>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        function sendSetting(form_id, result_id) {
            var form = $("#" + form_id);
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    result_div = $('#' + result_id);
                    if (response.status == 'success') {
                        result_div.html("<div class='alert alert-success' >Изменения сохранены</div>")
                    } else {
                        result_div.html("<div class='alert alert-warning' >Изменения не сохранены, попробуйте позже</div>")
                    }
                }
            });
        }

        $("#daily_settings").change(function () {
            sendSetting('daily_settings', 'daily_result')
        });
        $("#settings_update").change(function () {
            sendSetting('settings_update', 'result')
        });
    </script>
{% endblock %}

