{% extends "base.html" %}
{% block title %}Добавить заявление{% endblock %}
{% block content %}
{{ form.media }}
{% load bootstrap3 %}
{# Display a form #}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" xmlns="http://www.w3.org/1999/html">


<script type="text/javascript" src="{% static 'js/fileinput.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'js/ru.js' %}">
</script>

<form method="post" action="{% url 'add_claim' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.name %}
            <h4>Истец</h4>

            {% bootstrap_field form.plaintfill %}
            {% bootstrap_field form.address %}
            {% bootstrap_field form.fax %}
            {% bootstrap_field form.email %}
            {% bootstrap_field form.date_of_birthday %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.court %}
            <h4>Представитель истца</h4>

            {% bootstrap_field form.plaintfill_representative %}
            {% bootstrap_field form.address_representative %}
            {% bootstrap_field form.fax_representative %}
            {% bootstrap_field form.email_representative %}
            {% bootstrap_field form.date_of_birthday_representative %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.date %}

            <h4>Ответчик</h4>
            {% bootstrap_field form.defendant %}
            {% bootstrap_field form.address_defendant %}
            {% bootstrap_field form.fax_defendant %}
            {% bootstrap_field form.email_defendant %}
            {% bootstrap_field form.date_of_birthday_defendant %}

        </div>
    </div>
    <div class="row">
        {% bootstrap_field form.claim_body %}
    </div>
    <div class="row">
        {% bootstrap_field form.claim_request %}
    </div>

    <label class="control-label">Добавить приложение</label>
    <div class="row">
        <div class="col-md-9 ">
            <input id="id_files" name="files" type="file" class="file file-loading"
                   data-show-preview="false"
                   data-allowed-file-extensions='["docx", "txt","doc","pdf"]'>
        </div>
        <div class="col-md-2 col-md-offset-1">
            {% buttons %}
            <button type="submit" class="btn btn-success btn-lg">
                Отправить
            </button>
            {% endbuttons %}
        </div>
    </div>

    <div style="padding:20px;">

    </div>
    <ul id='claim_apply'>
    </ul>
</form>
<script type="text/javascript">
$("#id_files").fileinput({
    language: "ru",
    showUpload: false,
});




</script>
{% endblock %}
