{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="loginmodal-container">
        <h1>Войти в аккаунт</h1><br>
<form method="post" action="{% url 'login_page' %}" class="form-signin">
    {% csrf_token %}
    {% if error %}
    {{ error }}
    {% endif %}
    {{ login_form.as_p }}
    <input class="btn btn-success" type="submit" value="Войти">
</form>
        <div class="login-help"></div>
</div>

{% endblock %}
