{% extends "base.html" %}
{% block title %}Заявления{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="statement-user" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content-btn">
                        <a href="{{ request.url }}" class="btn btn-update">
                            Обновить
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td class="edit cell"></td>
                            <td class="name cell">Название</td>
                            <td class="class cell">Класс</td>
                            <td class="date cell">Дата</td>
                            <td class="status cell">Статус</td>
                            <td class="remove cell"></td>
                            <td>Документы</td>
                        </tr>
                        {% for claim in claims %}
                            <tr class="border_bottom">
                                <td class="edit cell">
                                </td>
                                <td class="name cell">
                                    <a href="{% url 'claim_page' claim.id %}">
                                        Заявление {{ claim.id }}
                                    </a>
                                </td>
                                <td class="class cell">
                                    {% if claim.classification == None %}
                                        Не определено
                                    {% else %}
                                        {{ claim.classification }}
                                    {% endif %}

                                </td>
                                <td class="date cell">
                                    {{ claim.date }}
                                </td>
                                <td class="status cell">
                                    {{ claim.status }}
                                </td>

                                <td class="remove cell">
                                </td>
                                <td>
                                    {% if claim.claim_file.file %}
                                        <a href="media/{{ claim.claim_file.file }}" target="_blank" class="glyphicon glyphicon-download"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}