<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Смена статуса</h4>
        <p>
            <button id="change" href="{% url 'change_judge_class' judge.id %}" class="btn btn-success">Выбрать</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Закрыть</button>
        </p>
        <div id="result">
        </div>
    </div>
    <div class="modal-body">
        <select id="classes" multiple="multiple" name="classification_ids">
            {% for classification in classifications %}
                <option value="{{ classification.item.id }}" data-section="{{ classification.path }}"
                        {% if classification.selected %}
                        selected="selected"
                        {% endif %}
                >
                    {{ classification.item.name }}
                </option>
            {% endfor %}
        </select>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.tree.multiselect.min.js' %}">
        </script>
        <script type="text/javascript">
            var params = {hideSidePanel: true};
            $("#classes").treeMultiselect(params);
        </script>
        <link rel="stylesheet" href="{% static 'css/jquery.tree-multiselect.css' %}">

    </div>
</div>
<script type="text/javascript">
    $("#change").click(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: $('#change').attr('href'),
            data: $('#classes').serialize(),
            success: function (response) {
                result_div = $('#result');
                if (response.status == 'success') {
                    window.location.reload();
                } else {
                    result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")

                }

            }
        });
    });
</script>