<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
        <p>
            <button id="change_status" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Закрыть</button>
        </p>
        <div id="result">
        </div>
    </div>

    <div class="modal-body">
        {% load bootstrap3 %}
        <form id="change_claim_form" method="post" action="{{ request.path }}">
            {% bootstrap_form form %}
        </form>
    </div>
</div>
<script type="text/javascript">
{#    $('#id_judge').ready(function () {#}
{#        $(this).css('class', 'select2-container form-control select select-primary');#}
{#    });#}
    $('#id_judge').select2({
        width: '100%',
        placeholder: 'Выберите судью ',
        allowClear:true

    });
    $('#id_classification').select2({
        width: '100%',
        placeholder: 'Выберите класс заявления '
    });

    $("#change_status").click(function () {
        var form = $("#change_claim_form");
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                result_div = $('#result');
                if (response.status == 'success') {
                    window.location.reload();
                } else {
                    result_div.html("<div class='alert alert-danger'>" + response.message + "</div>")

                }

            }
        });
    });
</script>