{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="characteristics-manager" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <table>
                        <tr class="border_bottom">
                            <td class="name cell">
                                ФИО
                            </td>
                            <td class="holiday-start cell">
                                Дата начала отпуска
                            </td>
                            <td class="holiday-stop cell">
                                Дата конца отпуска
                            </td>
                            <td class="qualification cell">
                                Квалификация
                            </td>
                            <td class="load cell">
                                Загруженность
                            </td>
                        </tr>
                        {% for empl in employees %}
                            <tr class="border_bottom">
                                <td class="name cell">
                                    {{ empl.item.employee.fio }}
                                </td>
                                <td class="holiday-start cell">
                                    {{ empl.item.date_start }}
                                </td>
                                <td class="holiday-stop cell">
                                    {{ empl.item.date_finish }}
                                </td>
                                <td class="qualification cell">
                                    {{ empl.item.qualification }}
                                </td>
                                <td class="load cell">
                                    {{ empl.load }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
{% endblock %}
{% block js %}

    <script type="text/javascript">

        $(document).ready(function () {

            $('[data-toggle="modal"]').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.modal-dialog').html(data);
                    $('#myModal').modal('show');
                });
            });

        });

    </script>
{% endblock %}