{% extends "base.html" %}
{% block title %}Судья{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Логин</th>
            <th>Пользователь</th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        {% for judge in judges %}
            <tr>
                <td>{{ judge.user.username }}
                </td>
                <td>{{ judge.fio }}</td>
                <td>
                    <div class="actions">
                        {{ judge.role.name }}
                        <button data-toggle="modal" href="{% url 'change_judge_class' judge.id %}"
                                data-target="#myModal" class="btn btn-success">Привязать классы
                        </button>
                    </div>
                </td>

            </tr>
        {% empty %}
            Заявлений нет
        {% endfor %}


        </tbody>
    </table>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
{% endblock %}

{% block js %}

    <script type="text/javascript">

        $(document).ready(function () {

            $('[data-toggle="modal"]').click(function (e) {
                $('.modal-dialog').html('');
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.modal-dialog').html(data);
                    $('#myModal').modal('show');
                });
            });

        });

    </script>
{% endblock %}