{% extends "base.html" %}
{% block title %}Заявления{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div id="statement" class="tab-pane fade in active">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content-btn">
                        <a href="{{ request.url }}" class="btn btn-update">
                            Обновить
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <table>
                        <tr class="border_bottom">
                            <td class="edit cell">
                                {#                                    <a href="" class="icon-button" data-toggle="modal"#}
                                {#                                       data-target="#class-statement"><img src="{% static 'icon/edit.svg'%}"></a>#}
                            </td>
                            <td class="document cell">
                                Название
                            </td>
                            <td class="doc-class cell">
                                Класс
                            </td>
                            <td class="date cell">
                                Дата
                            </td>
                            <td>
                                Функция
                            </td>

                        </tr>
                        {% for claim in claims %}
                            <tr class="border_bottom">
                                <td class="edit cell">
                                    {#                                    <a href="" class="icon-button" data-toggle="modal"#}
                                    {#                                       data-target="#class-statement"><img src="{% static 'icon/edit.svg'%}"></a>#}
                                </td>
                                <td class="document cell">
                                    <a href="{% url 'claim_page' claim.id %}">Заявление {{ claim.id }}</a>
                                </td>
                                <td class="doc-class cell">
                                    {% if claim.classification == None %}
                                        Не определено
                                    {% else %}
                                        {{ claim.classification }}
                                    {% endif %}
                                </td>
                                <td class="date cell">
                                    {{ claim.date }}
                                </td>
                                <td>
                                    <button data-toggle="modal" href="{% url 'change_claim' claim.id %}"
                                            data-target="#myModal" class="btn btn-success">Назначить
                                    </button>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>





    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="modal"]').click(function (e) {
                $('.modal-dialog').html('');
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.modal-dialog').html(data);
                    $('#myModal').modal('show');
                });
            });

        });

    </script>
{% endblock %}