<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/mixin.css' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}">
    </script>
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
<div class="wrapper">
    {% include 'header.html' %}

    <section class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'tabs.html' %}
                    <div class="tab-content --tab-content">

                        {% block content %}
                        {% endblock %}

                    </div>

                    <div id="limitations" class="tab-pane fade">

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
</body>
{% block js %}
{% endblock %}
</html>
