<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-top">
                    <div class="col-md-9">
                        <div class="header-logo">
                                <a href="#">
                                    <div class="logo">
                                        {% load staticfiles %}
                                        <img src="{% static 'logo.png' %}">
                                    </div>
                                </a>
                            </div>
                            <div class="header-title">
                                Робот Юрист
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="header-buttons">
                            {% if request.path != '/login' %}
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'logout' %}" class="btn btn-block btn-exit">Выйти({{ request.user.username }})</a>
                                {% else %}
                                    <button href="{% url 'login_page' %}"class="btn btn-block btn-exit">Войти</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>