<select id="classes" multiple="multiple" name="classification_ids">
    {% for classification in classifications %}
        <option value="{{ classification.item.id }}" data-section="{{ classification.path }}">
            {{ classification.item.name }}
        </option>
    {% endfor %}
</select>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tree.multiselect.min.js' %}">
</script>
<link rel="stylesheet" href="{% static 'css/jquery.tree-multiselect.css' %}">
<script type="text/javascript">
    var params = {hideSidePanel: true, freeze: true};
    $("#classes").treeMultiselect(params);
</script>

