<ul class="nav nav-tabs --nav-tabs">

    {% if user.employee.role.sys_name == "ROLE_JUDGE" %}
        {% url 'judge_claims' as judge_claims_url %}
        {% url 'judge_archive_claims' as judge_archive_claims_url %}
        <li {% if judge_claims_url == request.path %}class="active"{% endif %}><a href="{% url 'judge_claims' %}" >Заявления</a></li>
        <li {% if judge_archive_claims_url == request.path %}class="active"{% endif %}><a href="{% url 'judge_archive_claims' %}" >Архив Заявлений</a></li>
    {% endif %}
    {% if user.employee.role.sys_name == "ROLE_ADMIN" %}
        {% url 'employees' as employees_url %}
        {% url 'employees_characteristics' as employees_characteristics_url %}
        {% url 'settings' as settings_url %}
        {% url 'classification_list' as classification_list_url %}

        <li {% if employees_url == request.path %}class="active"{% endif %}><a href="{% url 'employees' %}" >Сотрудники</a></li>
        <li {% if employees_characteristics_url == request.path %}class="active"{% endif %}><a href="{% url 'employees_characteristics' %}" >Характеристики судей</a></li>
        <li {% if settings_url == request.path %}class="active"{% endif %}><a href="{% url 'settings' %}" >Настройки</a></li>
        <li {% if classification_list_url == request.path %}class="active"{% endif %}><a href="{% url 'classification_list' %}" >Классы заявлений</a></li>
    {% endif %}
    {% if user.employee.role.sys_name == "ROLE_MANAGER" %}
        {% url 'judge_list' as judge_list_url %}
        {% url 'employees_characteristics_manager' as employees_characteristics_url %}
        {% url 'manager_classifications' as manager_classifications_url %}
        {% url 'manager_claims' as manager_claims_url %}

        <li><a href="{% url 'judge_list' %}" >Cудьи</a></li>
        <li><a href="{% url 'employees_characteristics_manager' %}" >Характеристики судей</a></li>
        <li><a href="{% url 'manager_classifications' %}" >Справочник классов</a></li>
        <li><a href="{% url 'manager_claims' %}" >Заявления</a></li>
    {% endif %}
    {% if user.profile %}
        {% url 'add_claim' as add_claim_url %}
        {% url 'list_claims' as list_claims_url %}

        <li><a href="{% url 'add_claim' %}" >Создать заявление</a></li>
        <li><a href="{% url 'list_claims' %}" >Список заявлений</a></li>
    {% endif %}
</ul>